# PowerShell specific
*.ps1.test
*.psm1.test
*.psd1.test
*.ps1xml.test

# Windows specific
Thumbs.db
Desktop.ini

# VS Code specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Logs
*.log

# Temporary files
*.tmp
*.temp 